@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0 !important;
}

body {
    font-family: 'Poppins', sans-serif !important;
}


/** NAVIGATION */

.navigation {
    background-color: rgb(255, 255, 255);
    width: calc(100% - 250px);
    right: 0;
    top: 0;
    position: fixed;
    height: 70px;
    padding: 10px 15px;
    box-shadow: 0px 4px 5px rgba(44, 44, 44, 0.068);
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 2;
}

.username {
    margin-left: 10px;
}

.content-container {
    margin-left: 285px;
    margin-top: 75px;
}


/**  SCROLL BAR */

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 7px rgb(219, 219, 219);
    border-radius: 0px;
}

::-webkit-scrollbar-thumb {
    background: maroon;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(99, 1, 1);
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 100px;
    padding: 2rem 5rem;
    transition: all 250ms ease-in;
}

nav h5 {
    color: white;
    font-size: 1.3rem;
}

nav ul {
    position: relative;
    display: flex;
    text-decoration: none;
    list-style: none;
    align-items: center;
    height: 100%;
}

li {
    position: relative;
    display: flex;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    padding: .5rem 1.2rem;
    color: white;
    align-items: center;
    display: flex;
    transition: all 150ms ease-in;
    margin-left: 2px;
}

nav ul li a:hover {
    background: rgb(32, 133, 228);
    border-radius: 20px;
    color: rgb(240, 240, 240);
}

.sidenav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 250px;
    overflow: auto;
    padding-bottom: 1rem;
    background-image: linear-gradient(to top, maroon, maroon);
}

.sidenav .logo {
    height: auto;
    max-width: 180px;
    position: relative;
    margin-left: 10%;
}

.sidenav a {
    display: flex;
    padding: 15px 40px;
    color: white;
    text-decoration: none;
}

.sidenav a:hover {
    background: rgba(255, 217, 0, 0.404);
    color: white;
}

.sidenav a i {
    margin-right: 12px;
}

.router-link-active {
    background: gold;
    color: maroon !important;
}

.close {
    outline: none !important;
    border: 0px !important;
    background: white !important;
    font-size: 1.2rem !important;
}

.cursor-pointer {
    cursor: pointer;
}

.sr-only {
    display: none !important;
}

h5 {
    color: maroon !important;
}

.recipient-active {
    box-shadow: 0px 0px 10px rgb(64, 114, 223);
}